{% extends "base.html" %}

{% load static %}
{% block content %}
    <h1 style="color:white;">Welcome to QSIMSIM</h1>
  </nav>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        To get started with the pennylane plugin please follow one of our tutorials that we provide
        <a href="https://synqs.github.io/pennylane-ls/intro.html" target="_blank" rel="noopener noreferrer">here</a>.
        Make sure that the username and password are the ones from this website.
      </div>
    </div>
  </div>
</body>
</html>
{% endblock %}
